pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
joblib==1.4.2
torch==2.2.2
pyarrow==17.0.0
tqdm==4.66.5
polars==1.6.0
PyYAML==6.0.2
typing-extensions==4.12.2
matplotlib==3.9.2
transformers==4.44.2
catboost==1.2.5